.blue-row {
  min-height: 315px;
  margin-bottom: 60px;
  background-color: rgba(54, 129, 246, .8);

  @include max(540) {
    position: relative;
  }
  .container {
    @include max(1000) {
      padding-top: 10px;
      padding-bottom: 0;
    }
    @include max(540) {
      padding: 10px 10px 0 10px;
    }
  }
}
.blue-row__title {
  font-family: $font-extrabold;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  @include max(1000) {
    margin-bottom: 0;
  }
  @include max(540) {
    font-size: 28px;
  }
}
.blue-row__item-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 10px;
  background-image: url('../img/blue-row.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include max(1000) {
    flex-wrap: wrap;
    max-width: 650px;
    padding-bottom: 0;
    background-image: none;
  }
  @include max(540) {
    justify-content: space-between;
  }
}
.blue-row__item {
  display: block;
  width: 15%;
  text-align: center;
  text-decoration: none;

  @include max(1000) {
    width: 30%;
    margin-bottom: 20px;
  }
  @include max(480) {
    width: 45%;
  }
  &:hover {
    .blue-row__pic {
      transform: scale(1.1);
    }
    .blue-row__pic-light {
      opacity: 1;
    }
    span {
      color: #266e02;
    }
  }
  span {
    font-family: $font;
    font-size: 17px;
    line-height: 18px;
    transition: color .5s;
    color: #fff;
  }
}
.blue-row__pic-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  margin: 0 auto 5px;
  transition: .5s;

  @include max(350) {
    width: 100%;
    max-width: 140px;
  }
}
.blue-row__pic {
  display: block;
  transition: .5s;
  transform: scale(1);
}
.blue-row__pic-light {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  transition: .5s;
  transform: scale(1.2);
  opacity: 0;
}
