.breadcrumbs__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
  padding: 0;
  .breadcrumbs__item:last-child {
    .breadcrumbs__link {
      text-decoration: none;
      pointer-events: none;
      color: #bcbcbc;
    }
  }
}
.breadcrumbs__item {
  position: relative;
  list-style: none;
  &::after {
    font-size: 15px;
    margin: 0 5px 0 3px;
    content: '/';
    color: #fff;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.breadcrumbs__link {
  font-family: $font;
  font-size: 16px;
  white-space: nowrap;
  color: #fff;
  &:hover {
    text-decoration: none;
    color: $b2;
  }
}
