.menu {
  position: relative;
  background-color: #fff;
  &::before {
    position: absolute;
    right: 0;
    bottom: 7px;
    left: 0;
    display: block;
    height: 1px;
    content: '';
    background-color: $b4;

    @include max(860) {
      display: none;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.menu__nav {
  flex: 1 0 auto;

  @include max(860) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    margin-top: -100vh;
    padding-top: 60px;
    transition: margin-top .5s;
    &.active {
      margin-top: 0;
    }
  }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @include max(860) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 30px;
    background-color: #fff;
  }
}
.menu__item {
  padding: 0;
  list-style: none;
}
.menu__item-parent {
  position: relative;
  display: flex;
  align-items: center;

  @include max(860) {
    flex-wrap: wrap;
    .menu__link {
      padding-right: 25px !important;
      padding-left: 25px;
    }
  }
  .menu__link {
    padding-right: 15px;
  }
  &:hover {
    @include min(861) {
      .menu__sublist {
        transform: scale(1);
        opacity: 1;
      }
    }
    .menu__link {
      color: $g2;
      &::before {
        width: 100%;
      }
    }
    // меняем цвет у крестика при наведении на пункт меню
    .menu__link-plus {
      &::before,
      &::after {
        background-color: $g2;
      }
    }
  }
}
.menu__link {
  font-family: $font;
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding: 10px 0;
  transition: all .5s;
  text-decoration: none;
  color: #223b73;

  @include max(860) {
    padding: 5px 0;
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 1px;
    left: 0;
    width: 0;
    height: 3px;
    margin: auto;
    content: '';
    transition: width .5s;
    background-color: $g2;
  }
  &:hover {
    color: $g2;
    &::before {
      width: 100%;
    }
  }
}
.menu__link-plus {
  position: relative;
  display: block;
  width: 9px;
  height: 9px;

  @include max(860) {
    width: 20px;
    height: 20px;
  }
  &::before,
  &::after {
    position: absolute;
    display: block;
    content: '';
    transition: background-color .5s;
    background-color: #223b73;
    box-shadow: 1px 1px 0  0 rgba(34, 59, 115, .2);
  }
  &::before {
    top: 1px;
    right: 9px;
    width: 1px;
    height: 9px;

    @include max(860) {
      top: 6px;
    }
  }
  &::after {
    top: 5px;
    right: 5px;
    width: 9px;
    height: 1px;
    @include max(860) {
      top: 10px;
    }
  }
  &:hover {
    & + .menu__sublist {
      transform: scale(1);
      opacity: 1;
    }
  }
}

// BEGIN subitem
.menu__sublist {
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  padding: 20px 20px 15px 20px;
  transition: all .5s;
  transform: scale(0);
  opacity: 0;
  background-color: #201c3b;

  @include max(860) {
    position: fixed;
    z-index: 10;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    padding-top: 0;
    text-align: center;
    background-color: #fff;
  }
  &:hover {
    transform: scale(1);
    opacity: 1;
  }
  .back {
    font-family: $font-semibold;
    font-size: 18px;
    position: absolute;
    top: -27px;
    right: 20px;
    display: none;
    text-transform: uppercase;
    pointer-events: none;
    color: #f00;

    @include max(860) {
      display: block;
    }
  }
}
.menu__subitem {
  padding: 0;
  list-style: none;
}
.menu__sublink {
  font-family: $font;
  font-size: 18px;
  display: inline-block;
  padding: 0 0 10px 0;
  transition: color .5s;
  white-space: nowrap;
  color: #fff;

  @include max(860) {
    color: #223b73;
  }
  &:hover {
    text-decoration: none;
    color: $g1;
  }
}
// END subitem

// BEGIN order button
.menu__order {
  font-family: $font-bold;
  line-height: 32px;
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 35px;
  padding: 0 20px 0 15px;
  transition: all .5s;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: $br;
  background-color: $g2;
  box-shadow: 0 0 25px rgba(101, 206, 49, .3);

  @include max(860) {
    position: relative;
    z-index: 10;
    margin-top: 3px;
    margin-left: auto;
  }
  svg {
    display: block;
    overflow: visible;
    fill: #fff;
    width: 19px;
    height: 19px;
    margin-right: 7px;
  }
  &:hover {
    color: #fff;
    background-color: $g1;
  }
}
// END order button
