.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
  @include max(540) {
    padding: 0;
    margin-top: -20px;
  }
}
.pagination__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.pagination__item {
  margin: 0 5px;
  list-style: none;
}
.pagination__link {
  font-family: $font-extrabold;
  font-size: 18px;
  display: block;
  padding: 0px 7px;
  transition: .5s;
  text-decoration: none;
  color: #615e76;
  border: 2px solid transparent;
  border-radius: $br;
  &.active {
    color: #615e76;
    border-color: $b3;
    pointer-events: none;
    &:hover {
      color: #615e76;
    }
  }
  &.inactive {
    pointer-events: none;
  }
  &:hover {
    color: $b2;
  }
}
