.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, .8);
}
.popup-header__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, .8);
}
.popup {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  // width: 300px;
  padding: 15px 15px 0 15px;
  transform: translate(-50%, -50%);
  border: 2px solid #b4d6fb;
  border-radius: $br;
  background-color: transparent;
}
.popup-inn {
  position: relative;
  margin-bottom: -15px;
  padding: 20px 40px 40px 40px;
  text-align: center;
  border-radius: $br;
  background-color: #fff;
}
.popup__title {
  font-family: $font-extrabold;
  font-size: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #0e0a30;
}
.popup__text {
  font-family: $font;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 0;
  color: #0e0a30;
}
.popup__btn {
  font-family: $font-bold;
  font-size: 22px;
  line-height: 40px;
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 170px;
  height: 40px;
  margin: auto;
  cursor: pointer;
  text-transform: uppercase;
}
