.advantage-sec {
  .section__title {
    padding: 15px 35px 10px 35px;
    background-image: url('../img/advantage-icon.png');
  }
}
.advantage-sec__item-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -30px;
  padding: 30px 20px 30px 20px;
  background-image: url('../img/advantage-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include max(768) {
    padding: 30px 0 30px 0;
    background-image: none;
  }
  @include max(680) {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.advantage-sec__item {
  width: 16.5%;
  text-align: center;

  @include max(680) {
    width: 30%;
    margin-bottom: 20px;
  }
  @include max(425) {
    width: 32%;
  }
  span {
    font-family: $font;
    font-size: 16px;
    line-height: 1;
    letter-spacing: .25px;
    color: #615e76;

    @include max(425) {
      font-size: 14px;
    }
  }
}
.advantage-sec__pic {
  min-height: 110px;

  @include max(680) {
    min-height: 90px;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
