.contacts-sec {
  width: 100%;
  max-width: 980px;
  margin: 0 auto -150px;

  @include max(1000) {
    max-width: 960px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.contacts-sec__header {
  padding: 25px 0;
  text-align: center;
}
.contacts-sec__title {
  font-family: $font-extrabold;
  font-size: 30px;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 25px 35px 0 35px;
  color: #464f82;
  background-image: url('../img/contacts-header.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.contacts-sec__banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 20px 20px 20px;
  border-radius: $br;
  background-color: #0f0e43;
  background-image: url('../img/contact-section-banner.jpg');
  box-shadow: 0 0 21px rgba(127, 127, 127, .2);
}

// BEGIN banner-left
.contacts-sec__banner-left {
  padding: 0 10px;

  @include max(840) {
    width: 50%;
  }
  @include max(540) {
    width: 100%;
    text-align: center;
  }
}
.contacts-sec__banner-schedule,
.contacts-sec__banner-copyright {
  font-family: $font-extrabold;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}
.contacts-sec__banner-pay {
  display: inline-block;
  margin-top: 10px;
}
// END banner-left

// BEGIN banner-middle
.contacts-sec__banner-middle {
  padding: 0 10px;

  @include max(840) {
    width: 100%;
    margin-top: 20px;
    text-align: center;

    order: 3;
  }
}
.contacts-sec__banner-item {
  display: inline-block;
  min-width: 51%;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.contacts-sec__banner-metro {
  font-family: $font-semibold;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 30px;
  text-decoration: underline;
  color: #fff;
  background-image: url('../img/metro.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  &:hover {
    text-decoration: underline;
  }
}
.contacts-sec__banner-adress {
  font-family: $font-extrabold;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
}
.contacts-sec__banner-phone {
  font-family: $font-extrabold;
  font-size: 24px;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
}
// END banner-middle

// BEGIN banner-right
.contacts-sec__banner-right {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  @include max(840) {
    width: 50%;
    max-width: 200px;
  }
  @include max(540) {
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}
// BEGIN order button
.contacts-sec__banner-order {
  font-family: $font-bold;
  line-height: 32px;
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 20px;
  padding: 0 20px;
  transition: all .5s;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: $br;
  background-color: $g1;
  svg {
    display: block;
    overflow: visible;
    fill: #fff;
    width: 19px;
    height: 19px;
    margin-right: 13px;
  }
  &:hover {
    color: #fff;
    background-color: $g2;
  }
}
// END order button

.contacts-sec__banner-r-link {
  font-family: $font;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
  letter-spacing: .4px;
  color: #fff;
}
.contacts-sec__banner-proshift {
  font-family: $font;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  margin-top: auto;
  padding-right: 30px;
  text-align: right;
  letter-spacing: .4px;
  color: #fff;
  background-image: url('../img/proshift.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;

  @include max(540) {
    display: inline-block;
    text-align: center;
  }
  a {
    font-family: $font;
    color: #fff;
  }
}
// END banner-right
