.page-header {
  position: relative;
  min-height: 300px;
  padding-top: 150px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 2;
  @include max(860) {
  padding-top: 120px;

  }
}
.page-header__title {
  font-family: $font-black;
  font-size: 48px;
  line-height: 63px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 30px;
  text-transform: uppercase;
  color: #fff;
  @include max(760) {
    font-size: 36px;
    line-height: 50px;
  }
  &::before,
  &::after {
  @include max(760) {
    height: 50px;
    background-size: auto 100%;
  }
    position: absolute;
    top: 0;
    width: 20px;
    height: 66px;
    content: '';
    background-image: url('../img/page-header-decore.png');
    background-repeat: no-repeat;
  }
  &::before {
    left: 0;
    background-position: 0 0;
  }
  &::after {
    right: 0;
    background-position: 100% 0;
  }
}
