//begin advantage section
section.advantage-sec
  .container
    header.section__header
      h2.section__title Преимущества работы с нами
    .advantage-sec__item-wrap
      .advantage-sec__item
        .advantage-sec__pic
          img(src="assets/img/advantage-01.png", alt="icon")
        span
          |Опыт работы
          br
          |более 10 лет
          
      .advantage-sec__item
        .advantage-sec__pic
          img(src="assets/img/advantage-02.png", alt="icon")
        span
          |Гарантия на
          br
          |работы до 2 лет
          
      .advantage-sec__item
        .advantage-sec__pic
          img(src="assets/img/advantage-03.png", alt="icon")
        span
          |Удобное
          br
          |расположение
          
      .advantage-sec__item
        .advantage-sec__pic
          img(src="assets/img/advantage-04.png", alt="icon")
        span
          |Современное
          br
          |оборудование
          
      .advantage-sec__item
        .advantage-sec__pic
          img(src="assets/img/advantage-05.png", alt="icon")
        span
          |Свой склад
          br
          |запчастей

      .advantage-sec__item
        .advantage-sec__pic
          img(src="assets/img/advantage-06.png", alt="icon")
        span
          |Скидки и бонусы
          br
          |клиентам
//end   advantage section