//begin banners section
section.banners-sec
  .container.banners-sec__row
    .banners__item.banners__item--lg(style="background-image:url('assets/img/banners-lg-bg.jpg')")
      h4.banners__item-title Удалим катализатор
      h5.banners__item-subtitle за 500р.
      a(href="#").banners__item-btn.btn-green Подробнее
    
    .banners__item.banners__item--sm(style="background-image:url('assets/img/banners-sm-bg.jpg')")
      h4.banners__item-title Насадки
      h5.banners__item-text
        |Большой выбор
        br
        |В НАЛИЧИИ 
      a(href="#").banners__item-btn.btn-green Подробнее

//end   banners section