//begin contacts section
section.contacts-sec
  header.section__header
    h2.section__title Контакты
  .contacts-sec__banner
    // begin banner-left
    .contacts-sec__banner-left
      a(href="#").contacts-sec__banner-logo
        img(src="assets/img/logo.png", alt="Выхлоп.рф")
      .contacts-sec__banner-schedule Ежедневно с 10:00 до 21:00
      .contacts-sec__banner-copyright &#169; ВЫХЛОП.РФ, 2017
      a(href="#").contacts-sec__banner-pay
        img(src="assets/img/robokassa.png", alt="robokassa")
    // end banner-left

    // begin banner-middle
    .contacts-sec__banner-middle
      .contacts-sec__banner-item
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").contacts-sec__banner-metro Нарвская
        br
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").contacts-sec__banner-adress ул. Ивана Черных, 31, Санкт-Петербург, 198095
        br
        a(href="tel:+7 812 640 33 36").contacts-sec__banner-phone +7 (812) 640-33-36

      .contacts-sec__banner-item
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").contacts-sec__banner-metro Проспект Ветеранов
        br
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").contacts-sec__banner-adress Брестский бульвар 9А, Санкт-Петербург, 198328
        br
        a(href="tel:+7 812 640 33 37").contacts-sec__banner-phone +7 (812) 640-33-37
    // end banner-middle
    
    // begin banner-right
    .contacts-sec__banner-right
      a(href="#").contacts-sec__banner-order
        svg
           use(xlink:href="assets/img/sprite.svg#phone") 
        |Заказать звонок

      a(href="#").contacts-sec__banner-r-link Политика конфиденциальности
      a(href="#").contacts-sec__banner-r-link Пользовательское соглашение
      a(href="#").contacts-sec__banner-r-link Как сделать заказ
      a(href="#").contacts-sec__banner-r-link Доставка и оплата

      .contacts-sec__banner-proshift
        span Сделано в
        =" "
        a(href="#") Proshift
    // end banner-right

//end   contacts section