//begin example section
section.example-sec
  .container
    header.section__header
      h2.section__title Примеры наших работ
    .example-sec__slider-wrap
      ul.example-sec__slider#example-sec__slider
        li.example-sec__item
          .example-sec__pic(style="background-image:url('assets/img/example-slider/example-01.jpg')")
          span Тюнинг выхлопа Mazda RX7
        li.example-sec__item
          .example-sec__pic(style="background-image:url('assets/img/example-slider/example-02.jpg')")
          span Тюнинг выхлопа Toyota GT86
        li.example-sec__item
          .example-sec__pic(style="background-image:url('assets/img/example-slider/example-03.jpg')")
          span Тюнинг выхлопа BMW E60
        li.example-sec__item
          .example-sec__pic(style="background-image:url('assets/img/example-slider/example-01.jpg')")
          span Тюнинг выхлопа Mazda RX7
        li.example-sec__item
          .example-sec__pic(style="background-image:url('assets/img/example-slider/example-02.jpg')")
          span Тюнинг выхлопа Toyota GT86
        li.example-sec__item
          .example-sec__pic(style="background-image:url('assets/img/example-slider/example-03.jpg')")
          span Тюнинг выхлопа BMW E60
    .example-sec__btn
      a(href="#").btn-blue Все фотографии

//end   example section