//begin footer
footer.footer
  h1 footer
  p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Прямо меня текстами большой обеспечивает своего всеми, они пояс решила не продолжил живет большого грамматики, правилами там строчка по всей первую!
//end   footer