// begin guarantees section
.guarantees-section
  .guarantees-section__parallax#guarantees-section__parallax
    .guarantees-section__parallax-layer.layer(data-depth="0.85")
      .guarantees-section__parallax-banner(style="background-image: url('assets/img/guaranties.jpg')")
    .guarantees-section__banner
      h2.guarantees-section__title 
        |Даем гарантию на работы
        span до 2
        =" "
        |лет!
      h4.guarantees-section__subtitle 
        |Обязательная гарантия на работу, а также наши запчасти. 
        br
        |Срок определяется видом услуги.
      a(href="#").btn-green Подробнее
// end   guarantees section