// begin header
header.header
  .header-top.container-sm
    .popup-header__layer
    a(href="#").header__logo
      img(src="assets/img/logo.png", alt="Выхлоп.рф")
      span Выхлоп.рф
    .header-top__call-btn#header-top__call-btn
      svg
        use(xlink:href="assets/img/sprite.svg#phone")
    .header-top__contacts#header-top__contacts
      .header-top__contacts-row
        a(href="tel:+78127771886").header__phone +7 (812) 777-18-86
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").header__adress
          |Розенштейна, 38
          span м. Балтийская
      .header-top__contacts-row
        a(href="tel:+78127771889").header__phone +7 (812) 777-18-89
        a(href="#" target="_blank" rel="nofollow noopener noreferrer").header__adress
          |Брестский бульвар, 9А
          span м. Ленинский проспект

    .header-top__right
      a(href="#").header__basket
        .header__basket-product
          span 10
        svg
          use(xlink:href="assets/img/sprite.svg#basket")
      a(href="#").header__search
        svg
          use(xlink:href="assets/img/sprite.svg#search")

      // begin поле поиска
      .header__search-field
        form.header__search-form
          input.header__search-input(type='search', name='', placeholder='Поиск по сайту')
          .header__search-submit--wrap
            input.header__search-submit(type='submit', name='', value='')
            svg.header__search-svg
              use(xlink:href="assets/img/sprite.svg#arrow")
        .header__search-form-close
      // end поле поиска


  include ../elements/menu
// end   header