// begin header
header.header
  .header-top.container-sm
    a(href="#").header__logo
      img(src="assets/img/logo.png", alt="Выхлоп.рф")
      span Выхлоп.рф
    a(href="#" target="_blank" rel="nofollow noopener noreferrer").header__adress Нарвская
    a(href="#" target="_blank" rel="nofollow noopener noreferrer").header__adress Проспект Ветеранов
    a(href="tel:+7 812 640 33 36").header__phone +7 (812) 640-33-36
      svg
        use(xlink:href="assets/img/sprite.svg#phone")
    
    .header-top__right
      a(href="#").header__basket
        svg
          use(xlink:href="assets/img/sprite.svg#basket")
      a(href="#").header__search
        svg
          use(xlink:href="assets/img/sprite.svg#search")

      // begin поле поиска
      .header__search-field
        form.header__search-form
          input.header__search-input(type='search', name='', placeholder='Поиск по сайту')
          .header__search-submit--wrap
            input.header__search-submit(type='submit', name='', value='')
            svg.header__search-svg
              use(xlink:href="assets/img/sprite.svg#arrow")
      // end поле поиска


  include ../elements/menu
// end   header