// begin header
header.header
  .container
    h1 header
    p  
      strong Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum quod debitis sint earum magnam in inventore non amet beatae eligendi a 
    p aspernatur corporis nulla vero quidem, possimus eum. Alias sapiente natus tenetur nam, doloribus voluptate eaque fuga ducimus, quae fugiat eum amet modi nihil earum. Aliquam consectetur aspernatur, iusto commodi aliquid assumenda quas tempora placeat ducimus eligendi officia sint quia provident dolorem sed iure officiis quis ad a hic architecto rem, doloribus enim. Nesciunt aliquam dolorum quam, beatae fuga, iste expedita quisquam accusamus corrupti veniam, quo aspernatur, vel pariatur qui hic. Magnam, incidunt hic repudiandae delectus quod rerum iure.
// end   header