//begin models section
section.models-sec
  .container
    header.section__header
      h2.section__title Работаем со всеми марками авто
    ul.models-sec__slider#models-sec__slider
      li.models-sec__item
        img(src="assets/img/models-01.png", alt="auto model")
      li.models-sec__item
        img(src="assets/img/models-02.png", alt="auto model")
      li.models-sec__item
        img(src="assets/img/models-03.png", alt="auto model")
      li.models-sec__item
        img(src="assets/img/models-04.png", alt="auto model")
      li.models-sec__item
        img(src="assets/img/models-05.png", alt="auto model")
      li.models-sec__item
        img(src="assets/img/models-06.png", alt="auto model")
//end   models section