// begin page-header
.page-header.parallax(style="background-image: url('assets/img/page-header.jpg')")
  h1.page-header__title #{pageHeaderTitle}
  include ../elements/breadcrumbs
// end   page-header