//begin review section
section.review-sec
  .container
    header.section__header
      h2.section__title О нас говорят
    .review-sec__slider-wrap
      ul.review-sec__slider#review-sec__slider
        li.review-sec__item
          p Сегодня менял рулевую тягу сказать что я доволен-ничего не сказать! ребята все огромные молодцы настоящая команда быстро нашли неисправность заказали тягу поменяли пока меняли тягу я заметил небольшую грыжу на колесе- устранили профессионально! схождение сделанное на 5+! отдельное спасибо алексею шиномонтажнику! машина на дороге идт как вкопанная! теперь только к вам! спасибо!
          span.review-sec__signature Алексей, Mercedes C-class
        li.review-sec__item
          p Вчера менял рулевую тягу сказать что я доволен-ничего не сказать! ребята все огромные молодцы настоящая команда быстро нашли неисправность заказали тягу поменяли пока меняли тягу я заметил небольшую грыжу на колесе- устранили профессионально! схождение сделанное на 5+! отдельное спасибо алексею шиномонтажнику! машина на дороге идт как вкопанная! теперь только к вам! спасибо!
          span.review-sec__signature Алексей, Mercedes C-class
        li.review-sec__item
          p Позавчера менял рулевую тягу сказать что я доволен-ничего не сказать! ребята все огромные молодцы настоящая команда быстро нашли неисправность заказали тягу поменяли пока меняли тягу я заметил небольшую грыжу на колесе- устранили профессионально! схождение сделанное на 5+! отдельное спасибо алексею шиномонтажнику! машина на дороге идт как вкопанная! теперь только к вам! спасибо!
          span.review-sec__signature Алексей, Mercedes C-class
      .review-sec__btn
        a(href="#").btn-blue Все отзывы

//end   review section