//begin shop section
section.shop-sec
  .container
    header.section__header
      h2.section__title Наш магазин
    .shop-sec__list
      a(href="#").shop-sec__item
        .shop-sec__pic(style="background-image:url('assets/img/shop/shop-item-01.jpg')")
        h4.shop-sec__title 
          |Насадка на глушитель d63мм 
          br
          |NG-MT0103 (NEW GALAXY)
        .shop-sec__price
          |Цена:
          span.old-price 880р.
          span.new-price 800р.
          
      a(href="#").shop-sec__item
        .shop-sec__pic(style="background-image:url('assets/img/shop/shop-item-02.jpg')")
        h4.shop-sec__title 
          |Насадка на глушитель d63мм 
          br
          |NG-MT0103 (NEW GALAXY)
        .shop-sec__price
          |Цена:
          span.old-price 880р.
          span.new-price 800р.
          
      a(href="#").shop-sec__item
        .shop-sec__pic(style="background-image:url('assets/img/shop/shop-item-03.jpg')")
        h4.shop-sec__title 
          |Насадка на глушитель d63мм 
          br
          |NG-MT0103 (NEW GALAXY)
        .shop-sec__price
          |Цена:
          span.old-price 880р.
          span.new-price 800р.

      a(href="#").shop-sec__item
        .shop-sec__pic(style="background-image:url('assets/img/shop/shop-item-04.jpg')")
        h4.shop-sec__title 
          |Насадка на глушитель d63мм 
          br
          |NG-MT0103 (NEW GALAXY)
        .shop-sec__price
          |Цена:
          span.old-price 880р.
          span.new-price 800р.
    .shop-sec__btn
      a(href="#").btn-blue Все товары

//end   shop section