//begin top section
section.top-sec
  ul.top-sec__slider#top-sec__slider
    li.top-sec__item(style="background-image: url('assets/img/top-slider/slide-01.jpg')")
      .container
        h2.top-sec__title 
          |Установка сажевого
          br
          |фильтра 
        h3.top-sec__price 
          |от
          span 2000
          |р.
        a(href="#").btn-green Подробнее

    li.top-sec__item(style="background-image: url('assets/img/top-slider/slide-02.jpg')")
      .container
        h2.top-sec__title 
          |Установка чего-либо
        h3.top-sec__price 
          |от
          span 5000
          |р.
        a(href="#").btn-green Подробнее

    li.top-sec__item(style="background-image: url('assets/img/top-slider/slide-03.jpg')")
      .container
        h2.top-sec__title 
          |Снятие сажевого
          br
          |фильтра
        h3.top-sec__price 
          |от
          span 10000
          |р.
        a(href="#").btn-green Подробнее
  
  include ../elements/blue-row
//end   top section