//begin aside
aside.aside
  .aside__item
    .aside__item-pic(style="background-image:url('assets/img/aside-item-pic.jpg')")
      h4.aside__item-title Насадки
      h5.aside__item-subtitle 
        |Большой выбор
        br
        |В НАЛИЧИИ 
    a(href="#").aside__item-btn.btn-green Подробнее
    
  .aside__item
    .aside__item-pic(style="background-image:url('assets/img/aside-item-pic.jpg')")
      h4.aside__item-title Удалим катализатор
      h5.aside__item-subtitle за 500р.
    a(href="#").aside__item-btn.btn-green Подробнее

  h3.aside__title Товары для выхлопа

  .aside__product
    .aside__product-pic--wrap
      .aside__product-pic(style="background-image:url('assets/img/aside-product-pic.jpg')")
    h4.aside__product-title Насадка на глушитель d63мм NG-MT0103 (NEW GALAXY)
    .aside__product-price
      |Цена:
      span.old-price 880р.
      span.new-price 800р.
    a(href="#").aside__product-btn Все товары
//end   aside