//begin blue-row
section.blue-row
  .container
    h3.blue-row__title Автоцентр Выхлоп.рф предлагает:
    .blue-row__item-wrap
      a(href="#").blue-row__item
        .blue-row__pic-wrap
          img(src="assets/img/top-item-01-h.png", alt="light").blue-row__pic-light
          img(src="assets/img/top-item-01.png", alt="pic").blue-row__pic
        span 
          |Ремонт/замена 
          br
          |глушителя
        
      a(href="#").blue-row__item
        .blue-row__pic-wrap
          img(src="assets/img/top-item-02-h.png", alt="light").blue-row__pic-light
          img(src="assets/img/top-item-02.png", alt="pic").blue-row__pic
        span 
          |Замена гофры 
          br
          |глушителя
        
      a(href="#").blue-row__item
        .blue-row__pic-wrap
          img(src="assets/img/top-item-03-h.png", alt="light").blue-row__pic-light
          img(src="assets/img/top-item-03.png", alt="pic").blue-row__pic
        span 
          |Замена 
          br
          |катализатора
        
      a(href="#").blue-row__item
        .blue-row__pic-wrap
          img(src="assets/img/top-item-04-h.png", alt="light").blue-row__pic-light
          img(src="assets/img/top-item-04.png", alt="pic").blue-row__pic
        span 
          |Установка 
          br
          |пламегасителя
        
      a(href="#").blue-row__item
        .blue-row__pic-wrap
          img(src="assets/img/top-item-05-h.png", alt="light").blue-row__pic-light
          img(src="assets/img/top-item-05.png", alt="pic").blue-row__pic
        span 
          |Промывка/замена 
          br
          |сажевого фильтра

      a(href="#").blue-row__item
        .blue-row__pic-wrap
          img(src="assets/img/top-item-06-h.png", alt="light").blue-row__pic-light
          img(src="assets/img/top-item-06.png", alt="pic").blue-row__pic
        span 
          |Тюнинг выхлопной 
          br
          |системы

//end   blue-row