//begin blue-row
section.blue-row
  .container
    h3.blue-row__title Автоцентр Выхлоп.рф предлагает:
    .blue-row__item-wrap
      a(href="#").blue-row__item
        .blue-row__pic(style="background-image: url('assets/img/top-item-01.jpg')")
        span 
          |Ремонт/замена 
          br
          |глушителя
        
      a(href="#").blue-row__item
        .blue-row__pic(style="background-image: url('assets/img/top-item-02.jpg')")
        span 
          |Замена гофры 
          br
          |глушителя
        
      a(href="#").blue-row__item
        .blue-row__pic(style="background-image: url('assets/img/top-item-03.jpg')")
        span 
          |Замена 
          br
          |катализатора
        
      a(href="#").blue-row__item
        .blue-row__pic(style="background-image: url('assets/img/top-item-04.jpg')")
        span 
          |Установка 
          br
          |пламегасителя
        
      a(href="#").blue-row__item
        .blue-row__pic(style="background-image: url('assets/img/top-item-05.jpg')")
        span 
          |Промывка/замена 
          br
          |сажевого фильтра

      a(href="#").blue-row__item
        .blue-row__pic(style="background-image: url('assets/img/top-item-06.jpg')")
        span 
          |Тюнинг выхлопной 
          br
          |системы

//end   blue-row