//begin consult form
.container.consult-form#consult-form
  form
    h3.consult-form__title
      |оставьте заявку на бесплатную консультацию 
      br 
      |и получите 
      span скидку 10% 
      |на работы
    .consult-form__row
      input(type="text" placeholder="Имя")
      input(type="text" placeholder="Телефон")
      input(type="button" value="Отправить").popup-open
//end   consult form