//begin menu-shop
aside.menu-shop
  h2.menu-shop__title Каталог

  ul.menu-shop__list
    li.menu-shop__item.active
      a(href="#").menu-shop__link Все товары
    li.menu-shop__item
      a(href="#").menu-shop__link Насадки спортивные
    li.menu-shop__item
      a(href="#").menu-shop__link Насадки классические
    li.menu-shop__item
      a(href="#").menu-shop__link Премиум насадки
    li.menu-shop__item
      a(href="#").menu-shop__link Комплектующие для выхлопа
    li.menu-shop__item
      a(href="#").menu-shop__link Резонаторы
    li.menu-shop__item
      a(href="#").menu-shop__link Трубы
    li.menu-shop__item
      a(href="#").menu-shop__link Аксессуары
//end   menu-shop