//begin menu
section.menu
  .container
    include ../elements/burger
    nav.menu__nav
      ul.menu__list
        li.menu__item
          a(href="#").menu__link Главная
        li.menu__item
          a(href="#").menu__link О нас
        li.menu__item.menu__item-parent
          a(href="#").menu__link Услуги
          span.menu__link-plus
          ul.menu__sublist
            span.back Назад
            li.menu__subitem
              a(href="#").menu__sublink Ремонт и замена глушителей
            li.menu__subitem
              a(href="#").menu__sublink Замена катализатора
            li.menu__subitem
              a(href="#").menu__sublink Замена и установка пламегасителя
            li.menu__subitem
              a(href="#").menu__sublink Замена гофры глушителя
            li.menu__subitem
              a(href="#").menu__sublink Замена и установка сажевого фильтра
            li.menu__subitem
              a(href="#").menu__sublink Прямотоки, насадки, спортивный выхлоп

        li.menu__item.menu__item-parent
          a(href="#").menu__link Магазин
          span.menu__link-plus
          ul.menu__sublist
            span.back Назад
            li.menu__subitem
              a(href="#").menu__sublink 2 Ремонт и замена глушителей
            li.menu__subitem
              a(href="#").menu__sublink Замена катализатора
            li.menu__subitem
              a(href="#").menu__sublink Замена и установка пламегасителя
            li.menu__subitem
              a(href="#").menu__sublink Замена гофры глушителя
            li.menu__subitem
              a(href="#").menu__sublink Замена и установка сажевого фильтра
            li.menu__subitem
              a(href="#").menu__sublink Прямотоки, насадки, спортивный выхлоп
        li.menu__item
          a(href="#").menu__link Примеры работ
        li.menu__item
          a(href="#").menu__link Вопрос-ответ
        li.menu__item
          a(href="#").menu__link Контакты
    a(href="#").menu__order
      svg
         use(xlink:href="assets/img/sprite.svg#phone") 
      |Заказать звонок
//end   menu