//begin popup
.popup__layer
  .popup
    .popup-inn
      h3.popup__title Сообщение отправлено
      p.popup__text
        |Мы свяжемся с вами
        br
        |в течении 5 минут!
      span.popup__btn.btn-green Ок
//end   popup