*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-family: $font-os;
  font-size: 14px;
  line-height: 1.38;
  color: $text-color;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
body.no-scroll {
  overflow: hidden;
}
body.fix {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0 0 5px 0;
}
h1 {
  font-family: $font-black;
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
}
h2 {
  font-family: $font-black;
  font-size: 30px;
  text-transform: uppercase;
  color: #615e76;
}
h3 {
  font-family: $font-semibold;
  font-size: 24px;
  color: $b1;
}
h4 {
  font-family: $font-bold;
  font-size: 20px;
  color: #494949;
}
h5 {
  font-family: $font-black;
  font-size: 18px;
  color: $g2;
}
h6 {
  font-family: $font;
  font-size: 18px;
  color: #494949 !important;
}
p {
  font-family: $font-os;
  font-size: 14px;
  line-height: 1.42;
  margin-bottom: 15px;
  color: $text-color;
  strong {
    font-family: $font-osb;
  }
}
a {
  transition: color .5s;
  color: $link-color;
  &:hover {
    text-decoration: none;
    color: $link-color-hov;
  }
}
ol,
ul {
  margin: 0 0 15px 0;
  li {
    padding: 0 0;
  }
}
ul {
  li {
    // путь к кастомной картинке пункта ul
    list-style-image: url('../img/ul.png');
  }
}
//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand-color;
  }
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  padding: 3px 10px 5px 10px;
  color: $text-color;
  border: 1px solid $text-color;
  &::placeholder {
    @include placeholder-color($text-color);
  }
}
textarea {
  resize: none;
}
//изменяем цвет выделения текста мышью
::selection {
  // background-color: $brand-color;
  // color: $brand-color;
  // text-shadow: none;
}
.main {
  position: relative;
  z-index: 2;
  flex: 1 0 auto;
  margin-bottom: 450px;
  background-color: #fff;
  box-shadow: 0 10px 16px -10px rgba(24,83,195,.5);
}
.container,
.container-sm {
  position: relative;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}
.container {
  padding: 20px;
}
.container-sm {
  padding: 0 20px;
}
.content__wrap {
  display: flex;
}
// .header,
// .page-header,
.footer {
  flex: 0 0 auto;
}
.btn-green,
.btn-blue {
  font-family: $font-extrabold;
  font-size: 18px;
  line-height: 34px;
  display: inline-block;
  height: 34px;
  margin-bottom: 0;
  padding: 0 40px;
  transition: background-color .5s;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: $br;
  &:hover {
    color: #fff;
  }
}
.btn-green {
  background-color: $g1;
  box-shadow: 0 0 25px rgba(101, 206, 49, .3);
  &:hover {
    background-color: $g2;
  }
}
.btn-blue {
  background-color: $b3;
  box-shadow: 0 0 10px rgba(54, 129, 246, .25);
  &:hover {
    background-color: $b2;
  }
}

.img {
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: $br;
  img {
    display: block;
    width: 100%;
  }
}
.section__header {
  padding: 15px 0 25px 0;
  text-align: center;
}
.section__title {
  font-family: $font-extrabold;
  font-size: 30px;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: 0;
  color: #0e0a30;
  background-repeat: no-repeat;
  background-position: 0 0;

  @include max(375) {
    font-size: 26px;
  }
}
