@font-face {
  font-family: OpenSans;
  src:  url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src:  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src:  url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Akrobat-Regular;
  src:  url('../fonts/Akrobat-Regular.woff2') format('woff2'),
        url('../fonts/Akrobat-Regular.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Akrobat-Black;
  src:  url('../fonts/Akrobat-Black.woff2') format('woff2'),
        url('../fonts/Akrobat-Black.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Akrobat-Bold;
  src:  url('../fonts/Akrobat-Bold.woff2') format('woff2'),
        url('../fonts/Akrobat-Bold.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Akrobat-ExtraBold;
  src:  url('../fonts/Akrobat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Akrobat-ExtraBold.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Akrobat-SemiBold;
  src:  url('../fonts/Akrobat-SemiBold.woff2') format('woff2'),
        url('../fonts/Akrobat-SemiBold.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}
