// ***** main colors *******
$brand-color: #82d2e5;

// ***** text colors *******
$text-color: #3f3f3f;
$title-color: #c42e2e;
$link-color: $brand-color;
$link-color-hov: #ffa600;

// ===== fonts =====
$font:            'OpenSans', sans-serif;
$font-bold:       'OpenSans-Bold', sans-serif;
$font-light:      'OpenSans-Light', sans-serif;
$font-semibold:   'OpenSans-Semibold', sans-serif;

// ===== sizes =====
$radius-button: 5px;
$radius-tab: 5px;