extends ../_template

block variables
  - var title = 'Lets Go'

block content
  include ../sections/header
  
  //begin content
  section.main
    include ../sections/top-section


    include ../sections/contacts-section
  //end   content

  include ../sections/footer
