extends ../_template

block variables
  - var title = 'Lets Go'

block content
  include ../sections/header
  
  //begin content
  section.main.index
    include ../sections/top-section

    include ../elements/consult

    // begin we-know
    section.we-know
      header.section__header
        h2.section__title Знаем о выхлопе все
      .container-sm
        p JOKER AUTO - мультибрендовая и мультисервисная станция технического обслуживания. Это значит, что мы работаем с отечественными и импортными авто популярных марок, занимаемся всеми системами и узлами машин. При этом цель команды - соединить универсальность и специализацию, дать уровень обслуживания на уровне специализированных автосервисов. Этого мы добиваемся за счет квалификации и опыта персонала и за счет современного и постоянно обновляемого спецоборудования.
    // end   we-know

    include ../sections/advantage-section
    include ../sections/models-section
    include ../sections/guarantees-section
    include ../sections/example-section
    include ../sections/shop-section

    include ../sections/contacts-section
  //end   content

  include ../sections/footer
