extends ../_template

block variables
  - var title = 'Inner'
  - var pageHeaderTitle = 'Тюниг выхлопа'

block content
  include ../sections/header
  include ../sections/page-header

  //begin content
  section.main.inner
    .container.content__wrap
      .inner__left
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio unde pariatur eius tenetur ea quibusdam quo labore quae ullam nostrum omnis assumenda atque sed perferendis recusandae incidunt sapiente, corporis voluptate.
      include ../elements/aside
      

       
  //end   content

  include ../sections/footer
