extends ../_template

block variables
  - var title = 'Inner'
  - var pageHeaderTitle = 'Тюниг выхлопа'

block content
  include ../sections/header
  include ../sections/page-header

  //begin content
  section.main.inner
    .container.content__wrap
      .inner__left
        h2.container__title Красота и звук вашего авто

        p 
          strong Значимость этих проблем настолько очевидна, 
          |что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение 
          a(href="#") форм развития. 
          |Товарищи! постоянное 
          a(href="#") информационно-пропагандистское 
          |обеспечение нашей деятельности требуют определения и уточнения направлений прогрессивного развития.

        h3 Заголовок 3 

        ol
          li Список 1
          li Список 1
          li Список 1

        h4 Заголовок 4

        ul
          li Спиcок 2 
          li Спиcок 2 
          li Спиcок 2 

        h5 Заголовок 5 

        p Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения направлений прогрессивного развития. 

        h6 Заголовок 6 

        p Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения направлений прогрессивного развития. 

        .img
          img(src="assets/img/inner.jpg", alt="picture")

        p 
          strong Значимость этих проблем настолько очевидна, 
          |что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения направлений прогрессивного развития.

      include ../elements/aside
      
    include ../elements/consult

    include ../sections/contacts-section
       
  //end   content
  
  include ../sections/footer
