extends ../_template

block variables
  - var title = 'Одна новость'
  - var pageHeaderTitle = 'Одна новость'

block content
  include ../sections/header
  include ../elements/popup

  //begin content
  section.main.newsone
    include ../sections/page-header
  
    .container.content__wrap
      .content__left
        h2.content__title Поступление новых насадок
        
        .newsone__pic
          img(src="assets/img/newsone-item.jpg", alt="picture")
          span.newsone__date 21.12.2017
        .newsone__text
          p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития.
          p
            strong Значимость этих проблем настолько очевидна, 
            |что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения направлений прогрессивного развития. 
          p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции играет важную роль в формировании систем массового участия. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
          p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития. 
          p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции играет важную роль в формировании систем массового участия. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.

        .newsone__arr
          .newsone__arr-left
            .newsone__arr-btn
              svg
                use(xlink:href="assets/img/sprite.svg#arrow")
            a(href="#").newsone__arr-text Предыдущая новость

          .newsone__arr-right
            .newsone__arr-btn
              svg
                use(xlink:href="assets/img/sprite.svg#arrow")
            a(href="#").newsone__arr-text Следующая новость

      include ../elements/aside
      
    include ../elements/consult

    include ../sections/contacts-section
       
  //end   content
  
  include ../sections/footer
