extends ../_template

block variables
  - var title = 'Новости'
  - var pageHeaderTitle = 'Новости'

block content
  include ../sections/header
  include ../elements/popup

  //begin content
  section.main.newslist
    include ../sections/page-header
  
    .container.content__wrap
      .content__left
        h2.content__title Новости и полезная информация

        a(href="#").newslist__item
          .newslist__pic(style="background-image:url('assets/img/newslist-item.jpg')")
          .newslist__text
            h3.newslist__title Поступление новых накладок
            span.newslist__date 21.12.2017
            p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития.  

        a(href="#").newslist__item
          .newslist__pic(style="background-image:url('assets/img/newslist-item.jpg')")
          .newslist__text
            h3.newslist__title Поступление новых накладок
            span.newslist__date 21.12.2017
            p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития.  

        a(href="#").newslist__item
          .newslist__pic(style="background-image:url('assets/img/newslist-item.jpg')")
          .newslist__text
            h3.newslist__title Поступление новых накладок
            span.newslist__date 21.12.2017
            p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития.  

        a(href="#").newslist__item
          .newslist__pic(style="background-image:url('assets/img/newslist-item.jpg')")
          .newslist__text
            h3.newslist__title Поступление новых накладок
            span.newslist__date 21.12.2017
            p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития.  

        include ../elements/pagination

      include ../elements/aside
      
    include ../elements/consult

    include ../sections/contacts-section
       
  //end   content
  
  include ../sections/footer
