extends ../_template

block variables
  - var title = 'Поиск'
  - var pageHeaderTitle = 'Поиск'

block content
  include ../sections/header
  include ../elements/popup

  //begin content
  section.main.search
    include ../sections/page-header
  
    .container.content__wrap
      .content__left
        h2.content__title Поиск по сайту

        h3.search__result-title 5 результатов найдено для "выхлоп"

        ol.search__list
          li.search__item
            a(href="#").search__title Поступление новых накладок
            p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития. 
          li.search__item
            a(href="#").search__title Поступление новых накладок
            p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития. 
          li.search__item
            a(href="#").search__title Поступление новых накладок
            p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития. 
          li.search__item
            a(href="#").search__title Поступление новых накладок
            p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития. 
          li.search__item
            a(href="#").search__title Поступление новых накладок
            p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития. 

        h3.search__result-page 
          |Страницы с результатами поиска:
          a(href="#").active 1  
          a(href="#") 2  

      include ../elements/aside
      
    include ../elements/consult

    include ../sections/contacts-section
       
  //end   content
  
  include ../sections/footer
