.gallerylist__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallerylist__item {
  position: relative;
  width: 48%;
  margin-bottom: 20px;

  @include max(540) {
    width: 100%;
  }
  p {
    font-family: $font-os;
    font-size: 12px;
    line-height: 1.33;
    color: #3f3f3f;
  }
  &:hover {
    .gallerylist__title {
      text-decoration: none;
      color: $b2;
    }
  }
}
.gallerylist__pic {
  width: 100%;
  height: 210px;
  margin-bottom: 15px;
  border-radius: $br;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.gallerylist__title {
  font-family: $font-black;
  font-size: 20px;
  transition: color .5s;
  text-decoration: underline;
  letter-spacing: .25px;
  text-transform: uppercase;
  color: #615e76;
}
.gallerylist__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
