.inner__left {
  padding: 0 20px;
  @include max(760) {
    padding: 0;
  }
}
.container__title {
  font-family: $font-black;
  font-size: 30px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #615e76;
  &::before,
  &::after {
    position: absolute;
    left: 0;
    display: block;
    height: 2px;
    content: '';
  }
  &::before {
    bottom: 0;
    width: 134px;
    background-color: $b3;
  }
  &::after {
    bottom: -7px;
    width: 63px;
    background-color: #afafba;
  }
}
